.modal {
  height: 500px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-show {
  display: flex;
}
