*{
  box-sizing: border-box;
}

body{
  font-family: $font-primary;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: right;
  color: inherit;
  font-size: $modal-size;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation: 3s;
    transition: opacity 500ms ease-in
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #f8d030;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.miyo-page {
  background-image: url("https://img03.deviantart.net/b5dc/i/2013/195/f/e/simple_young_pokemon_background__1680x1050__by_kiss-d6dhp0n.jpg");
}

.hello {
  text-align: center;
  font-size: 20px;
  color: #3466af;
  font-weight: bold;
}

.githubLogo {
  width: 70px;
  height: auto;
}
