.miyo-page {
  background-image: url("https://img03.deviantart.net/b5dc/i/2013/195/f/e/simple_young_pokemon_background__1680x1050__by_kiss-d6dhp0n.jpg");
}

.hello {
  text-align: center;
  font-size: 20px;
  color: #3466af;
  font-weight: bold;
}

.githubLogo {
  width: 70px;
  height: auto;
}
